<!DOCTYPE html>
<html>
<table>

     {{#each  data}}
     <tr>
       <td>{{this.[0]}}</td>
       <td>{{this.[1]}}</td>
       <td>{{this.[2]}}</td>
       <td>{{this.[3]}}</td>
    </tr>
     {{/each}}
</table>
</html>
